@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Git Lighthouse is a tool to help bring awareness to the branch activity around a GIT repository.</p>

<p>Currently, you can see what a specific branch is currently merge conflicting on with all other active branches.</p>

<p>Whenever branches are updated in the repository, the information displayed on this site will refresh in realtime.</p>

<p>More features coming soon...</p>
